{% extends 'base.html' %}

{% block content %}
<div>
  <p>Feedsearch provides a simple API for searching websites for 
    <a href="https://en.wikipedia.org/wiki/RSS">RSS</a>, 
    <a href="https://en.wikipedia.org/wiki/Atom_(Web_standard)">Atom</a>, and 
    <a href="https://jsonfeed.org/">JSON</a> feeds.</p>
  <p>The long-term goal of Feedsearch is to provide a comprehensive, publicly accessible repository of feed information by
  saving the location and metadata of all crawled feeds.</p>
</div>

<div id="searchform_div">
  {% include 'form.html' %}
</div>

<div id="results_div">
  {% block error %}
  {% endblock %}

  {% block results %}
  {% endblock %}
</div>

<div id="documentation_div">

  <h3 class="subheading">API Usage</h3>
  <p>Make a GET request to <a href="{{ url_for('search_api', url='arstechnica.com', _external=true) }}">{{ url_for('search_api', _external=true) }}</a>
  with a "url" value in the querystring containing the URL you'd like to search:</p>
  <pre><code>curl -X GET "{{ url_for('search_api', url='arstechnica.com', _external=true) }}"</code></pre>
  <ul>
    <li>When the scheme (e.g. "https://") is not provided in the "url" value, the scheme will default to "http://".</li>
    <li>A request URL that contains only the domain and no path (e.g. "http://example.com" or "example.com") will always return all previously found feeds associated with that domain.</li>
    <li>A request URL that contains a path (e.g. "https://example.com/test", or "example.com/rss.xml" ) will return only those feeds found
    from that particular crawl.</li>
    <li>An individual feed can be crawled by passing in the full URL to that feed. If you know the specific location of a feed, but that feed doesn't appear
    in the results for a domain, then please query the feed's specific URL. The API will associate the feed with its root domain,
    and will then return the feed upon subsequent queries for that domain.</li>
  </ul>

  <h3 class="subheading">Query Parameters</h3>
  <p>The Feedsearch API accepts the following query parameters:</p>
  <ul>
    <li><b>url</b>: The <a href="https://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URL</a> to search. Will return 400 Bad Request if not sent.</li>
    <li><b>info</b>: Returns all feed metadata as below. Defaults True. If False, only found URLs are returned, and all other values will be empty or default.</li>
    <li><b>favicon</b>: Returns the favicon as a <a href="https://en.wikipedia.org/wiki/Data_URI_scheme">Data Uri</a>. Defaults False.</li>
    <li><b>skip_crawl</b>: By default, the queried URL will be crawled if it has not been crawled in the past week. Set this value to True if you wish to always skip the crawl and
      return only saved feeds. Defaults False.</li>
    <li><b>opml</b>: Return the feeds as an <a href="https://en.wikipedia.org/wiki/OPML">OPML</a> XML string. Defaults False.</li>
  </ul>
  <pre><code>curl "{{ url_for('search_api', url='arstechnica.com', info='true', favicon='false', opml='false', skip_crawl='false', _external=true) }}"</code></pre>

  <h3 class="subheading">API Response</h3>
  <p>The Feedsearch API returns a list of found feeds in <a href="https://en.wikipedia.org/wiki/JSON">JSON format</a>, with attached metadata about the feed.</p>

  <ul>
    <li><b>bozo</b>: Set to 1 when feed data is not well formed or may not be a feed. Defaults 0.</li>
    <li><b>content_length</b>: Length of the feed in bytes.</li>
    <li><b>content_type</b>: <a href="https://en.wikipedia.org/wiki/Media_type">Content-Type/Media-Type</a> value of the returned feed.</li>
    <li><b>description</b>: Feed description.</li>
    <li><b>favicon</b>: URL of feed or site <a href="https://en.wikipedia.org/wiki/Favicon">Favicon</a></li>
    <li><b>favicon_data_uri</b>: <a href="https://en.wikipedia.org/wiki/Data_URI_scheme">Data Uri</a> of the Favicon.</li>
    <li><b>hubs</b>: List of <a href="https://en.wikipedia.org/wiki/WebSub">Websub</a> hubs for the feed if available.</li>
    <li><b>is_podcast</b>: True if the feed contains valid <a href="https://en.wikipedia.org/wiki/Podcast">podcast</a> elements and enclosures.</li>
    <li><b>is_push</b>: True if the feed contains valid Websub data.</li>
    <li><b>item_count</b>: Number of items in the feed.</li>
    <li><b>last_seen</b>: Date that the feed was last seen by the crawler.</li>
    <li><b>last_updated</b>: Date of the latest entry in the feed, at the time the feed was last crawled.</li>
    <li><b>score</b>: Computed relevance of feed url value to requested search URL. May be safely ignored.</li>
    <li><b>self_url</b>: The <i>rel="self"</i> value returned from feed links. May be different from feed url.</li>
    <li><b>site_name</b>: Name of the feed's website.</li>
    <li><b>site_url</b>: URL of the feed's website.</li>
    <li><b>title</b>: Feed Title.</li>
    <li><b>url</b>: URL link to the feed.</li>
    <li><b>velocity</b>: A calculation of the mean number of items per day at the time the feed was fetched.</li>
    <li><b>version</b>: Detected feed type version (e.g. "rss20", "atom10", "https://jsonfeed.org/version/1").</li>
  </ul>

<pre><code>[
  {
    "bozo": 0,
    "content_length": 82139,
    "content_type": "text/xml; charset=UTF-8",
    "description": "Serving the Technologist for more than a decade. IT news, reviews, and analysis.",
    "favicon": "https://cdn.arstechnica.net/favicon.ico",
    "favicon_data_uri": "data:image/png;base64,AAABAAMAIC...",
    "hubs": [
      "http://pubsubhubbub.appspot.com/"
    ],
    "is_podcast": false,
    "is_push": true,
    "item_count": 20,
    "last_seen": "2019-07-05T19:00:00+00:00",
    "last_updated": "2019-07-05T16:00:30+00:00",
    "score": 27,
    "self_url": "http://feeds.arstechnica.com/arstechnica/index",
    "site_name": "Ars Technica",
    "site_url": "https://arstechnica.com/",
    "title": "Ars Technica",
    "url": "http://feeds.arstechnica.com/arstechnica/index",
    "velocity": 7.827,
    "version": "rss20"
  }
]</code></pre>

  <h3 class="subheading">Attribution</h3>
  <p>If you provide results powered by Feedsearch, then you should provide an attribution link that is visible to your user on the search and results page.</p>
  <pre><code>&#x3C;a href=&#x22;https://feedsearch.dev&#x22; title=&#x22;Feedsearch&#x22;&#x3E;powered by Feedsearch&#x3C;/a&#x3E;</code></pre>

  <h3 class="subheading">Further Information</h3>
  <p>Feedsearch extends the <a href="https://github.com/DBeath/feedsearch-crawler">Feedsearch-Crawler</a> library
    (available as a <a href="https://www.python.org/">Python</a> package on <a href="https://pypi.org/project/feedsearch-crawler/">PyPI</a>),
    by providing a public API and storing crawl results for public consumption.</p>
  <p>Documentation and source code for the crawler can be found at the <a href="https://github.com/DBeath/feedsearch-crawler">Feedsearch-Crawler GitHub repository</a>.</p>

  <p>Feedsearch acts as a <a href="https://en.wikipedia.org/wiki/Web_crawler">Web crawler</a>. It only crawls a site
    in response to a direct request, not as an automated crawler. It's designed to be as selective as possible in which URLs it crawls while looking for feeds,
  and stores information on crawled paths in order to reduce the load on crawled sites as much as possible. It does not
  attempt to bypass privacy pages, captchas, or any other anti-crawling measures.</p>

  <p>Feedsearch was originally written to power the RSS feed search function at <a href="https://auctorial.com">Auctorial</a>.</p>
  <p>If you have any issues with our crawling, or just wish to get in touch, please contact <a href="mailto:support@auctorial.com">support@auctorial.com</a></p>

</div>
{% endblock %}
