{% extends 'base.html' %}

{% block content %}
<div>
  <p>Feedsearch provides a simple API for searching websites for RSS and JSON feeds. 
  It's the library that runs the feed search function at <a href="https://www.auctorial.com">Auctorial</a>.</p>

  {% include 'form.html' %}

  {% block results %}
  
  {% endblock %}

  <h3 class="subheading">API Usage</h3>
  <p>Make a GET request to <a href="{{ url_for('search_api', url='arstechnica.com', _external=true)}}">{{ url_for('search_api', _external=true)}}</a>
  with a "url" value in the querystring containing the URL you'd like to search:</p>
  <pre>curl {{ url_for('search_api', url='arstechnica.com', _external=true)}}</pre>
  <p>The API returns a JSON list of found feeds, with attached metadata about the feed.</p>

<pre>[
  {
    "bozo": 0, 
    "content_type": "text/xml; charset=UTF-8", 
    "description": "Serving the Technologist for more than a decade. IT news, reviews, and analysis.", 
    "favicon": "https://cdn.arstechnica.net/favicon.ico", 
    "favicon_data_uri": "", 
    "hubs": [
      "http://pubsubhubbub.appspot.com/"
    ],
    "is_push": true, 
    "score": 4, 
    "self_url": "http://feeds.arstechnica.com/arstechnica/index", 
    "site_name": "Ars Technica", 
    "site_url": "https://arstechnica.com/", 
    "title": "Ars Technica", 
    "url": "http://feeds.arstechnica.com/arstechnica/index/", 
    "version": "rss20"
  }
]</pre>

  <p>The API accepts the following query parameters:</p>
  <ul>
    <li><b>url</b>: The URL to search. Will return 400 Bad Request if not set.</li>
    <li><b>info</b>: Returns all feed metadata as above. Defaults True. If False, only found URLs are returned.</li>
    <li><b>checkall</b>: Checks all the links at the given URL for feeds, and attempts a few guesses. Defaults False.</li>
    <li><b>favicon</b>: Returns favicon as a Data Uri. Defaults False.</li>
  </ul>

  <h3 class="subheading">Documentation</h3>
  <p>Feedsearch is written as an <a href="https://www.python.org/">Python</a> library, 
  and is available as a Python package on <a href="https://pypi.python.org/pypi/feedsearch">PyPI</a>.</p>
  <p>Further documentation and source code can be found at the <a href="https://github.com/DBeath/feedsearch">Feedsearch Github repository</a>.</p>

</div>
{% endblock %}
