{% extends 'base.html' %}

{% block content %}
<div>
  <p>Feedsearch provides a simple API for searching websites for 
    <a href="https://en.wikipedia.org/wiki/RSS">RSS</a>, 
    <a href="https://en.wikipedia.org/wiki/Atom_(Web_standard)">Atom</a>, and 
    <a href="https://jsonfeed.org/">JSON</a> feeds. 
  It's the library that runs the feed search function at <a href="https://www.auctorial.com">Auctorial</a>.</p>
</div>

<div id="searchform_div">
  {% include 'form.html' %}
</div>

<div id="results_div">
  {% block error %}
  {% endblock %}

  {% block results %}
  {% endblock %}
</div>

<div id="documentation_div">

  <h3 class="subheading">API Usage</h3>
  <p>Make a GET request to <a href="{{ url_for('search_api', url='arstechnica.com', _external=true)}}">{{ url_for('search_api', _external=true)}}</a>
  with a "url" value in the querystring containing the URL you'd like to search:</p>
  <pre><code>curl {{ url_for('search_api', url='arstechnica.com', _external=true)}}</code></pre>
  <p>If the scheme (e.g. "https://") is not provided in the "url" value then the scheme will default to "http://".</p>
  <p>The API returns a JSON list of found feeds, with attached metadata about the feed.</p>

<pre><code>[
  {
    "bozo": 0,
    "content_length": 82139,
    "content_type": "text/xml; charset=UTF-8",
    "description": "Serving the Technologist for more than a decade. IT news, reviews, and analysis.",
    "favicon": "https://cdn.arstechnica.net/favicon.ico",
    "favicon_data_uri": "",
    "hubs": [
      "http://pubsubhubbub.appspot.com/"
    ],
    "is_push": true,
    "last_updated": "2019-07-05T16:00:30+00:00",
    "score": 27,
    "self_url": "http://feeds.arstechnica.com/arstechnica/index",
    "site_name": "Ars Technica",
    "site_url": "https://arstechnica.com/",
    "title": "Ars Technica",
    "url": "http://feeds.arstechnica.com/arstechnica/index",
    "version": "rss20"
  }
]</code></pre>

  <p>The API accepts the following query parameters:</p>
  <ul>
    <li><b>url</b>: The <a href="https://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URL</a> to search. Will return 400 Bad Request if not set.</li>
    <li><b>info</b>: Returns all feed metadata as above. Defaults True. If False, only found URLs are returned, and all other values will be empty or default.</li>
    <li><b>favicon</b>: Returns favicon as a <a href="https://en.wikipedia.org/wiki/Data_URI_scheme">Data Uri</a>. Defaults True.</li>
    <li><b>checkall</b>: Attempts to search a range of possible feed paths for at the URL. Defaults False.</li>
    <li><b>opml</b>: Return the feeds as an <a href="https://en.wikipedia.org/wiki/OPML">OPML</a> XML string. Defaults False.</li>
  </ul>
  <pre><code>curl {{ url_for('search_api', url='arstechnica.com', info='true', favicon='true', checkall='false', opml='false', _external=true)}}</code></pre>

  <h3 class="subheading">Documentation</h3>
  <p>Feedsearch is written as an <a href="https://www.python.org/">Python</a> library, 
  and is available as a Python package on <a href="https://pypi.org/project/feedsearch-crawler/">PyPI</a>.</p>
  <p>Further documentation and source code can be found at the <a href="https://github.com/DBeath/feedsearch-crawler">Feedsearch-Crawler GitHub repository</a>.</p>

</div>
{% endblock %}
