body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    line-height: 1.4;
    text-rendering: auto;
    text-shadow: rgba(0,0,0,0.004) 0 0 1px;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
    margin-bottom: 0;
}

#container {
    margin: 1em auto;
    padding: 0.8em;
}

#header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 1.5em;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#brand {
    font-size: 3em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

#brand :link, #brand :visited {
    color: inherit;
    text-decoration: none;
}

#subtitle {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

pre {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05);
    padding: 0.5em;
    margin-bottom: 1em;
    white-space: pre-wrap;
    font-size: 0.8em;
    border-radius: 0.1em;
    font-family: Monaco, "Courier New", Courier, monospace;
}

code {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05);
    padding: 0.5em;
    margin-bottom: 1em;
    white-space: pre-wrap;
    font-size: 0.8em;
    border-radius: 0.1em;
    font-family: Monaco, "Courier New", Courier, monospace;
}

p {
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-kerning: auto;
    font-size: 1em;
    font-synthesis: weight style;
    line-height: 1.7;
    margin-bottom: 0.5em;
    margin-top: 0px;
}

h1 {
    margin: .3em;
}

.subheading {
    font-size: 1.5em;
    margin: .5em 0 .5em 0;
    color: rgba(0, 0, 0, 0.7);
}

footer {
    text-align: center;
    font-size: 0.8em;
}

#content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#search-input {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 50%;
}

#search-input:focus {
    outline: 0;
    border-color: #129FEA;
}

#search-input:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

input {
    font-size: 80%;
}

ul#results-list {
    margin: 0.5em;
}

ul#results-list > li {
    margin: 0.3em;
}

.button {
    line-height: normal;
    white-space: nowrap;
    text-rendering: auto;
    font-family: Arial;
    font-size: 16px; 
    padding: 8px 21px 9px 21px;
    border: 0;
    background-color: rgb(33, 133, 208);
    color: rgb(255, 255, 255); 
    border-radius: 3px;
    font-weight: 700;
}

.button:hover,
.button:focus {
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    /* background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10)); */
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

#showhidebutton {
    color: rgba(0, 0, 0, 0.55);
    border: none;
    background: none;
    padding: .5em;
    font-size: .8em;
}

#showhidebutton:hover,
#showhidebutton:focus {
    filter: alpha(opacity=90);
    /* background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10)); */
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

#examples {
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.55);
}

#results-header {
    font-size: 1.1em;
    margin: .5em 0 0 0;
    color: rgba(0, 0, 0, 0.7);
}

#results {
    margin-top: .2em;
}

.hidden {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.visible {
    animation: fadein 0.3s;
    animation-fill-mode: forwards;
    /* -webkit-animation: fadein 0.5s ;
	-webkit-animation-fill-mode: forwards;  */
}

.hide {
    animation: fadeout 0.3s;
    animation-fill-mode: forwards;
    /* -webkit-animation: fadeout 0.5s ;
	-webkit-animation-fill-mode: forwards; */
}

@keyframes fadeout {
    0% {
        max-height: 10000px;
        opacity: 1;
        visibility: visible;
    }
    100% {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
}

@keyframes fadein {
    0% {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        max-height: 100%;
        opacity: 1;
        visibility: visible;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout {
    from {
        visibility:visible;
        opacity: 1;
    }
    to {
        visibility:hidden;
        opacity:0;
        height: 0;
        padding: 0;
        margin: 0;
    }	
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    from {
        visibility:hidden;
        opacity:0;
        height: 0;
    }
    to {
        visibility:visible;
        opacity: 1;
    }	
}